
JournalApp/JournalApp/JournalApp.xcodeproj/project.xcworkspace/xcuserdata/sarahlichter.xcuserdatad/UserInterfaceState.xcuserstate

JournalApp/JournalApp/JournalApp/.DS_Store

JournalApp/JournalApp/JournalApp.xcodeproj/xcuserdata/sarahlichter.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

JournalApp/JournalApp/JournalApp.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/

JournalApp/JournalApp/JournalApp.xcodeproj/xcuserdata/sarahlichter.xcuserdatad/xcschemes/xcschememanagement.plist

JournalApp/.DS_Store

.DS_Store
