
JournalApp/JournalApp/JournalApp.xcodeproj/project.xcworkspace/xcuserdata/sarahlichter.xcuserdatad/UserInterfaceState.xcuserstate

JournalApp/JournalApp/JournalApp/.DS_Store

JournalApp/JournalApp/JournalApp.xcodeproj/xcuserdata/sarahlichter.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
